<div>
    <!--<span class="stock-name" ng-bind="stockData.name"></span>-->
    <!--Price:<span class="stock-price" ng-bind="stockData.price|currency"></span>-->
    <!--Percentage Change:<span class="stock-change" ng-bind="getChange(stock)+'%'"></span>-->
    <!--<button ng-click="changeStock()">Change Stock in Directive</button>-->

    <span class="stock-name" ng-bind="stockTitle"></span>
    Price:<span class="stock-price" ng-bind="stockData.price|currency"></span>
    Percentage Change:<span class="stock-change" ng-bind="getChange(stock)+'%'"></span>
    <button ng-click="onSelect()">Select me</button>
</div>