<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报表</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script type="application/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="application/javascript" src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="../../bower_components/angular/angular.min.js"></script>
    <script type="application/javascript" src="../../bower_components/angular-route/angular-route.js"></script>
    <script type="application/javascript" src="../../bower_components/angular-route/angular-route.min.js"></script>
    <!--<script type="application/javascript" src="../../app.js"></script>-->
    <script type="application/javascript" src="../../patent/script/menu.js"></script>
    <script type="application/javascript" src="../../patent/script/AIPController.js"></script>
    <script type="application/javascript" src="../../patent/script/AQController.js"></script>
    <script type="application/javascript" src="../../patent/script/YAQController.js"></script>
    <script type="application/javascript" src="../../patent/script/YIQController.js"></script>
    <script type="application/javascript" src="../../patent/script/YKQController.js"></script>
    <script type="application/javascript" src="../../patent/script/YQController.js"></script>
    <script type="application/javascript" src="../../patent/script/directive.js"></script>
    <script type="application/javascript" src="../../patent/script/service.js"></script>
    <!--<script type="application/javascript" src="../../bower_components/echarts/build/dist/echarts.js"></script>-->
    <!--<script type="application/javascript" src="../../bower_components/echarts/build/dist/echarts-all.js"></script>-->
    <script type="application/javascript" src="../../bower_components/echarts/echarts.js"></script>
</head>
<body ng-app="chatapp">
<div ng-controller="menuController as ctrl">

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="collapse navbar-collapse" id="bs">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/YQ">专利逐年变化趋势分析</a></li>
                <li><a href="#/YIQ">专利发明人的时序分布分析</a></li>
                <li><a href="#/YAQ">专利各国发展阶段分布分析</a></li>
                <li><a href="#/AIP">专利各领域分布状况</a></li>
                <li><a href="#/AQ">专利申请机构分析</a></li>
                <li><a href="#/YKQ">专利相关技术分析</a></li>
            </ul>
        </div>
    </nav>
    <div query-area area-data="ctrl.areaData" area-checked="ctrl.areacheck(name)"></div>
    <div query-type type-data="ctrl.typeData" type-checked="ctrl.typecheck(name)"></div>
    <div query-patent patent-data="ctrl.patent" patent-submit="ctrl.reloadchart(patent)"></div>
    <div id="main" style="height: 400px" ng-init="ctrl.initloadchart()">

    </div>

    <div id="YAQmain" style="height: 400px" ng-init="ctrl.initloadchart()">

    </div>
    <!--<div ng-view>-->

    <!--</div>-->

</div>
</body>
</html>